body{
  padding: 0;
  margin: 2rem;
  box-sizing: border-box;
}

.header{
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.active{
  background-color: black;
  color: white;
  padding:1rem;
}